<div class="container">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
    <form {{action 'authenticate' on='submit'}} role="form">
      <div class="row">
        <h3 class="col-xs-12">Logga in</h3>
      </div>
      <div class="row info-box-body">
        {{#if error}}
          <div class="alert alert-danger col-xs-12">
            {{error.msg}}
          </div>
        {{/if}}
        <div class="form-group">
          <label for="identification">Användarnamn</label>
          {{input value=identification classBinding=":form-control" placeholder='Enter username'}}
        </div>
        <div class="form-group">
          <label for="password">Lösenord</label>
          {{input value=password classBinding=":form-control" placeholder='Enter Password' type='password'}}
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Logga in</button>
        </div>
      </div>
    </form>
  </div>
</div>
